.Home {
    text-align: center;
    margin: 0;
  }

  .text {
    color: #03dAC6;
    font-size: 6vw;
  }

  .navLinkOutside {
    text-decoration: none;
    font-weight: bold;
    color: #d3d3d3
  }

  .navLinkOutside:hover {
    color: #03dAC6;
    transition: all 0.3s ease-in-out;
  }
  
  .div1, .contentDiv {
    display: flex;
    overflow-x: hidden;
  }


  
  .div1 {
    background-color: #0e1212;
    height: 75vh;
    padding: 0;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
  }

  .headerImgWrapper {
    align-items: flex-end;
  }

  .arrowDownContainer {
    color: #d3d3d3;

    position: relative;
    height: 25vh;
    
  }

  .header {
    color: #03dAC6;
    font-family: 'Lato', sans-serif;
    padding-bottom: 0;
    margin-left: 10vw;
    font-weight: bold;
    font-size: 5vw;
    text-align: left;
    z-index: 5;
  }
  
  .contentContainer {
    background-color: #0e1212;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 5vw;
    overflow-x: hidden;
  }

  .subContainer {
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 3vw;
  }

  .contentImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform-origin: left;

    max-width: 60vh;
    max-height: 60vh;
    border-left: 8px solid #03dAC6;
  }

  .headerImg {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
    max-width: 80vh;
    max-height: 80vh;
    z-index: 4;
  }

   .reveal, .reveal1, .reveal2, .reveal3 {
    visibility: hidden;
    position: relative;
    max-width: 60vh;
    max-height: 60vh;
    overflow: hidden;
  }


  .box {
    background: #03dAC6;
    width: 1vw;
    height: 50vw;
  }

  .cursorH {
    visibility: hidden;
  }

  .descriptionContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    color: #03dAC6;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }

  .headerDescCursorContainer {
    font-size: 4vw;
    text-align: left;
  }

  .descHeaderText {
    color: #03dAC6;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 4vw;
  }

  .headerBodyCursorContainer {
    font-size: 2.5vw;
    text-align: left;
    margin-bottom: 2vw;
  }

  .descBodyText {
    color: #d3d3d3;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
  }

  .div3 {
    background-color: aqua;
    justify-content: center;
  }

  .socialContainer{
    color: #d3d3d3;
    display: flex;
    flex-direction: column;
    margin-right: 9.5vh;
    z-index: 5;
  }

  .socialLinks1, .socialLinks2, .socialLinks3, .socialLinks4 {
    margin-top: 25px;
    margin-left: 8px;
    margin-right: 8px;
    color: #d3d3d3;
  }

  .socialLinks1:hover {
    color: #03dAC6;
    transition: all 0.3s ease-in-out;
  }

  .socialLinks2:hover {
    color: #03dAC6;
    transition: all 0.3s ease-in-out;
  }

  .socialLinks3:hover {
    color: #03dAC6;
    transition: all 0.3s ease-in-out;
  }

  .socialLinks4:hover {
    color: #03dAC6;
    transition: all 0.3s ease-in-out;
  }

  .picture {
    position: fixed;
    width: 1000px;
    height: 1000px;
    z-index: 100;
  }



  @media only screen and (max-width: 500px) {
    .socialContainer {
       margin-right: 4vh;
       /*display: none;*/
       
    }
    .contentContainer {

      margin-left: 3vw;
      margin-right: 3vw;

    }
    .box {
      background: #03dAC6;
      width: 5vw;
      height: 50vw;
    }
    .headerDescCursorContainer {
      font-size: 10vw;
      text-align: left;
    }
    .descHeaderText {
      color: #03dAC6;
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 10vw;
    }
    .headerBodyCursorContainer {
      font-size: 4vw;
      text-align: left;
      margin-bottom: 2vw;
    }
    .descBodyText {
      font-family: 'Lato', sans-serif;
      font-weight: bold;
      font-size: 4vw;
    }
  } 
